@charset "utf-8";
/*也就是说less语法中的变量、mixin混入、嵌套、import、运算、内置函数等不属于css的东西，在编译后的css文件中依然不会有。
*/
body {
  color: #ef2322;
}
.a {
  border-left: 1px solid red;
}
div {
  background-color: #ef2322;
  border-left: 1px solid red;
  border-right: 1px solid blue;
}
a {
  color: red;
}
