<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的微金所</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <!--[if lt ie 9]>
    <script type="text/javascript" src="lib/html5shiv/html5shiv.min.js"></script>
    <script type="text/javascript" src="lib/respond/respond.js"></script>
    <![endif] -->
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!-- 头部start -->
<header class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="box1 col-lg-2 col-md-2">
                <a href="###" class="tel-box"><span class="wjs-icon wjs-icon-tel"></span><span>手机微金所</span><span
                        class="glyphicon glyphicon-menu-down"></span></a>
                <div class="tel-app">
                    <img src="images/code.jpg" alt=""/>
                </div>
            </div>
            <div class="box2 col-lg-5 col-md-5">
                <span class="wjs-icon wjs-icon-call"></span><span>4006-89-4006 (服务时间：9:00-21:00)</span>
            </div>
            <div class="box3 col-lg-2 col-md-2">
                <a href="###">常见问题</a><a href="###">财富登陆</a>
            </div>
            <div class="box4 col-lg-3 col-md-3">
                <button class="btn btn-xs">免费注册</button>
                <a href="###">登陆</a>
            </div>
        </div>
    </div>
</header>
<!-- 头部end -->
<!-- 导航start -->
<nav class="navbar navbar-default" id="wjs-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="wjs-icon  wjs-icon-logo"></span><span
                    class="wjs-icon  wjs-icon-logo2"></span></a>
        </div>
        <div class="collapse navbar-collapse tel-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">我要投资</a></li>
                <li class=""><a href="#">我要借贷</a></li>
                <li class=""><a href="#">平台介绍</a></li>
                <li class=""><a href="#">新手专区</a></li>
                <li class=""><a href="#">最新动态</a></li>
                <li class=""><a href="#">微平台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right  hidden-sm">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 导航end -->
<!-- 轮播图start -->
<div id="carousel-example-generic" class="carousel slide  wjs-banner" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner" role="listbox">
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>
<!-- 轮播图end -->
<!-- 交易保障start -->
<div class="safeguard hidden-xs">
    <div class="container">
        <div class="row">
            <div class="media col-lg-4  col-md-4  col-sm-6">
                <a href="###">
                    <div class="media-left  media-middle">
                        <span class="wjs-icon wjs-icon-pay"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <span class="tips">银联支付全程保障支付安全</span>
                    </div>
                </a>
            </div>
            <div class="media col-lg-4  col-md-4  col-sm-6">
                <a href="###">
                    <div class="media-left  media-middle">
                        <span class="wjs-icon wjs-icon-pay"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <span class="tips">银联支付全程保障支付安全</span>
                    </div>
                </a>
            </div>
            <div class="media col-lg-4  col-md-4  col-sm-6">
                <a href="###">
                    <div class="media-left  media-middle">
                        <span class="wjs-icon wjs-icon-pay"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <span class="tips">银联支付全程保障支付安全</span>
                    </div>
                </a>
            </div>
            <div class="media col-lg-4  col-md-4  col-sm-6">
                <a href="###">
                    <div class="media-left  media-middle">
                        <span class="wjs-icon wjs-icon-pay"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <span class="tips">银联支付全程保障支付安全</span>
                    </div>
                </a>
            </div>
            <div class="media col-lg-4  col-md-4  col-sm-6">
                <a href="###">
                    <div class="media-left  media-middle">
                        <span class="wjs-icon wjs-icon-pay"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <span class="tips">银联支付全程保障支付安全</span>
                    </div>
                </a>
            </div>
            <div class="media col-lg-4  col-md-4  col-sm-6">
                <a href="###">
                    <div class="media-left  media-middle">
                        <span class="wjs-icon wjs-icon-pay"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <span class="tips">银联支付全程保障支付安全</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 交易保障end -->
<!-- 预约start -->
<div class="bookup">
    <div class="container">
        <div class="pull-left">
            <span class="wjs-icon wjs-icon-clock"></span>
            <span>现在有273人在排队，累计预约交易成功7571次。什么是预约投标？</span>
            <a class="now-bookup" href="###">立即预约</a>
        </div>
        <div class="pull-right hidden-xs">
            <a href="###">
                <span class="wjs-icon wjs-icon-broadcast"></span><span>微金所企业宣传片</span>
            </a>
        </div>
    </div>
</div>
<!-- 预约end -->
<!-- 产品start -->
<div class="product">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#recommend" aria-controls="home" role="tab"
                                                      data-toggle="pill">特别推荐</a></li>
            <li role="presentation"><a href="#wtz1" aria-controls="profile" role="tab" data-toggle="tab">微投资1</a></li>
            <li role="presentation"><a href="#wtz2" aria-controls="messages" role="tab" data-toggle="tab">微投资2</a></li>
            <li role="presentation"><a href="#wtz3" aria-controls="settings" role="tab" data-toggle="tab">微投资3</a></li>
            <li role="presentation"><a href="#wtz4" aria-controls="profile" role="tab" data-toggle="tab">微投资4</a></li>
            <li role="presentation"><a href="#wtz5" aria-controls="messages" role="tab" data-toggle="tab">微投资5</a></li>
            <li role="presentation"><a href="#wtz6" aria-controls="settings" role="tab" data-toggle="tab">微投资6</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active clearfix" id="recommend">
                <!-- ******************************************* -->
                <div class="try-box col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="try-content">
                        <div class="pull-left clearfix">
                            <span class="wjs-icon wjs-icon-experience"></span>
                            <div class="title">新手体验标1002期</div>
                            <div class="left">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                            <div class="right">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                <div class="progress">
                                    <div class="progress-bar  progress-bar-info progress-bar-striped active"
                                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 80%;">
                                        <span class="">80% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <span class="bao">宝</span>
                            <span class="bei">北</span>
                            <div class="circle-top"></div>
                            <div class="circle-bottom"></div>
                            <span class="rate">8</span><sub>%</sub><br/>年利率
                        </div>
                    </a>
                </div>
                <!-- ******************************************* -->
                <!-- ******************************************* -->
                <div class="try-box col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="try-content">
                        <div class="pull-left clearfix">
                            <span class="wjs-icon wjs-icon-experience"></span>
                            <div class="title">新手体验标1002期</div>
                            <div class="left">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                            <div class="right">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                        </div>
                        <div class="pull-right">
                            <span class="bao" data-toggle="tooltip" data-placement="top" title="微金宝">宝</span>
                            <span class="bei" data-toggle="tooltip" data-placement="top" title="北京市">北</span>
                            <div class="circle-top"></div>
                            <div class="circle-bottom"></div>
                            <span class="rate">8</span><sub>%</sub><br/>年利率
                        </div>
                    </a>
                </div>
                <!-- ******************************************* -->
                <!-- ******************************************* -->
                <div class="try-box col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="try-content">
                        <div class="pull-left clearfix">
                            <span class="wjs-icon wjs-icon-experience"></span>
                            <div class="title">新手体验标1002期</div>
                            <div class="left">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                            <div class="right">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="circle-top"></div>
                            <div class="circle-bottom"></div>
                            <span class="rate">8</span><sub>%</sub><br/>年利率
                        </div>
                    </a>
                </div>
                <!-- ******************************************* -->
                <!-- ******************************************* -->
                <div class="try-box col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="try-content">
                        <div class="pull-left clearfix">
                            <span class="wjs-icon wjs-icon-experience"></span>
                            <div class="title">新手体验标1002期</div>
                            <div class="left">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                            <div class="right">
                                起投金额(元)<br/>
                                0.01万<br/>
                                起投金额<br/>
                                0.01万
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="circle-top"></div>
                            <div class="circle-bottom"></div>
                            <span class="rate">8</span><sub>%</sub><br/>年利率
                        </div>
                    </a>
                </div>
                <!-- ******************************************* -->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="wtz1">微投资1</div>
            <div role="tabpanel" class="tab-pane fade" id="wtz2">微投资2</div>
            <div role="tabpanel" class="tab-pane fade" id="wtz3">微投资3</div>
            <div role="tabpanel" class="tab-pane fade" id="wtz4">微投资4</div>
            <div role="tabpanel" class="tab-pane fade" id="wtz5">微投资5</div>
            <div role="tabpanel" class="tab-pane fade" id="wtz6">微投资6</div>
        </div>
    </div>
</div>
<!-- 产品end -->
<!-- news start -->
<div class="container news">
    <div class="col-xs-12 col-md-2 col-md-offset-2 title">全部新闻</div>
    <ul class="col-xs-12 col-md-2 nav nav-tabs">
        <li class="active col-xs-3  col-md-12" role="tab">
            <a href="#news1" data-toggle="tab"><span class="wjs-icon wjs-icon-news1"></span></a>
        </li>
        <li class=" col-xs-3  col-md-12" role="tab"><a href="#news2" data-toggle="tab"><span
                class="wjs-icon wjs-icon-news2"></span></a></li>
        <li class=" col-xs-3  col-md-12" role="tab"><a href="#news3" data-toggle="tab"><span
                class="wjs-icon  wjs-icon-news3"></span></a></li>
        <li class=" col-xs-3  col-md-12" role="tab"><a href="#news4" data-toggle="tab">
            <span class="wjs-icon wjs-icon-news4"></span>
        </a></li>
    </ul>
    <div class="col-xs-12 col-md-6  tab-content">
        <div class="tab-pane fade in active" id="news1">
            <ul>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日-1月24日</a></li>
                <li><a href="###">【微还款】一周还款公告2016年1月18日【微还款】一周还款公告2016年1月18日-1月24日【微还款】一周还款公告2016年1月18日-1月24日【微还款】一周还款公告2016年1月18日-1月24日</a>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="news2">2</div>
        <div class="tab-pane fade" id="news3">3</div>
        <div class="tab-pane fade" id="news4">4</div>
    </div>
</div>
<!-- news end -->
<!-- 合作伙伴start -->
<div class="footer">
    <dl class="container">
        <dt>合作伙伴</dt>
        <dd><a href="###" class="wjs-icon wjs-icon-footer1"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer2"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer3"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer4"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer5"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer6"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer7"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer8"></a></dd>
        <dd><a href="###" class="wjs-icon wjs-icon-footer9"></a></dd>
    </dl>
</div>
<!-- 合作伙伴end -->
</body>
</html>
<script type="text/template" id="indicators">
    <% for(var i=0;i
    <items.length-1;i++){%>
    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>"></li>
    <%}%>
</script>
<script type="text/template" id="inner">
    <% for(var i=0;i
    <items.length-1;i++){%>
    <% if(items[items.length-1]>768){%>
    <div class="item">
        <a href="###" class="not-tel" style="background-image:url(<%-items[i].bgc_img%>);"></a>
    </div>
    <%}else{%>
    <div class="item">
        <a href="#" class="tel"><img src="<%-items[i].tel_img%>" alt=""/></a>
    </div>
    <%}%>
    <%}%>
</script>